
/* ----------------------------------HEADER------------------------------- */

.ms_header-logo-sony {
    background-color: #000;
    position: relative;
    height: 30px;
}

.ms_header-logo-sony img {
    position: absolute;
    right: 10px;
    top: 25%;
    height: 50%;
    
}

/* navbar */


/* ----------------------------------MAIN------------------------------- */

/* jumbotron  */

.ms_jumbotron-background {
    background-image: url(../img/jumbo-bg.png);
    background-position: center center;
    background-size: cover;
}

.ms_jumbotron-text {
    color: #fff;
}

.ms_jumbotron-text > * {
    margin-bottom: 20px;
}

.ms_jumbotron-text img {
    width: 50%;
}

.ms_jubotron-button {
    background-color: #cd3d0f;
    color: #fff;
    border-radius: 20px;
}

/* part 1  */

.ms_part-1-img-row-1 {
    border-radius: 5px;
    width: 100%;
}

.ms_part-1-img-row-2 {
    width: 100%;
}

.ms_part-1-img-row-3 {
    width: 100%;
}

/* part 2 */

.ms_jumbotron-2-background {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center center;
    background-size: cover;
}

/* part 3  */
.ms_nuove-uscite-bg {
    background-color: #1f1f1f;
}

.ms_nuove-uscite-bg p {
    color: #fff;
}

.ms_text-nuove-uscite {
    color: #fff;
}

.ms_part-2-image-row {
    width: 100%;
    border-radius: 20px;
}


/* ----------------------------------FOOTER------------------------------- */
