/* COMMON  */

.ms_img-100-width {
    width: 100%;
}

.ms_radius {
    border-radius: 20px;
}

.ms_blue-button {
    background-color: #2d64e6;
    color: #fff;
}

.ms_grey-text {
    color: #727272;
}

/* ----------------------------------HEADER------------------------------- */

.ms_header-logo-sony {
    background-color: #000;
    position: relative;
    height: 30px;
}

.ms_header-logo-sony img {
    position: absolute;
    right: 10px;
    top: 25%;
    height: 50%;
    
}

/* navbar */


/* ----------------------------------MAIN------------------------------- */

/* jumbotron  */

.ms_jumbotron-background {
    background-image: url(../img/jumbo-bg.png);
    background-position: center center;
    background-size: cover;
}

.ms_jumbotron-text {
    color: #fff;
}

.ms_jumbotron-text > * {
    margin-bottom: 20px;
}

.ms_jumbotron-text img {
    width: 50%;
}

.ms_jubotron-button {
    background-color: #cd3d0f;
    color: #fff;
}

/* part 1  */
.ms_no-limits {
    padding: 40px 0;
}

.ms_no-limits p:first-child {
    color: #2d64e6;
    margin-bottom: 0;
}

.ms_no-limits p:last-child {
    color: #727272;
    margin-top: 20px;
}

.ms_font-size {
    font-size: 12px;
}

.ms_layover img {
    opacity: 0.7;
    transition: all 0.5s;
}

.ms_layover:hover {
    border-bottom: 2px solid #2d64e6;
}

.ms_layover:hover img {
    opacity: 1;
}
/* part 2 */

.ms_jumbotron-2-background {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center center;
    background-size: cover;
}

/* part 3  */
.ms_nuove-uscite-bg {
    background-color: #1f1f1f;
}

.ms_nuove-uscite-bg p {
    color: #fff;
}

.ms_text-nuove-uscite {
    color: #fff;
}


/* part 4  */


/* part 5  */
.ms_plus-bg {
    background-color: #bebcbb;
}

.ms_plus-bg p {
    margin: 30px 0;
}

#ms_part-5-image-row {
    width: 250px;
}

.ms_plus-button {
    color: #2d64e6;
    background-color: #d9dadc;
}


/* part 6  */


/* part 7  */
.ms_now-bg {
    background-color: #161c3b;
}

.ms_now-bg p {
    color: #fff;
    margin: 30px 0;
}

#ms_part-7-image-row {
    width: 200px;
}

.ms_now-button {
    background-color: #f5f5f5;
}

/* part 8  */
.ms_img-80-width {
    width: 80%;
}


/* ----------------------------------FOOTER------------------------------- */

.ms_footer-bg {
    background-color: #2d64e6;
    color: #fff;
}

.ms_footer-bg img {
    width: 80px;
}

#ms_country-footer {
    width: 10px;
}

footer ul {
    list-style: none;
}

.ms_font-size-footer,
footer li {
    font-size: 12px;
}
